@{
    ViewData["Title"] = "Сброс ключа аутентификации";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Если вы сбросите ключ аутентификации, ваше приложение-аутентификатор не будет работать, пока вы его не переконфигурируете.</strong>
    </p>
    <p>
        Этот процесс отключает 2FA, пока вы не подтвердите свое приложение-аутентификатор, а также сбросите коды восстановления 2FA.
        Если вы не заполните свою конфигурацию приложения аутентификатора, вы можете потерять доступ к своей учетной записи.
    </p>
</div>
<div>
    <form asp-action="ResetAuthenticator" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Reset authenticator key</button>
    </form>
</div>