@{
    ViewData["Title"] = "Аккаунт заблокирован";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Этот аккаунт был заблокирован. Пожалуйста, попробуйте позже.</p>
</header>
